@use "../../styles/globals" as globals;

.homePageImage {
  height: 30vh;
  width: 100%;
  object-fit: cover;
}

.movieCard {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px;
}

.movieImage {
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.movieTitle {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.movieDescription {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

.readMoreButton {
  background-color: globals.$color_bg_brown;
  color: globals.$color_bg_white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
