@use "../styles/globals" as globals;

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 8px;
  background-color: globals.$color_bg_white;
  max-width: 1366px;
  margin: auto;
  padding: 0 10vh 0 10vh;
}

.dark {
  background: #222;
  color: #fff;
}

.light {
  background: #fff;
  color: #222;
}
