@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");


#root,
body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body.light, #root.light {
  background-color: #f9f9f9;
  color: #222;
}

body.dark, #root.dark {
  background-color: #222;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
